<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/dist/img/lzgn.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>LezginAksoy</p>
        <a href="#">
          <i class="fa fa-circle text-success"></i> Admin</a>
      </div>
    </div>
   
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      
      
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>User Management</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">           
          <li  [routerLinkActive]='["link-active"]' class="active" >
            <a [routerLink]='["/UserlistComponent"]' (click)='collapse()'> <i class="fa fa-circle-o"></i>User List </a>
          </li>
          <li  [routerLinkActive]='["link-active"]' class="active">
              <a  [routerLink]='["/UseraddComponent"]' (click)='collapse()'><i class="fa fa-circle-o"></i>User Add </a>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Client Management</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active">
            <a routerLink='/'>
              <i class="fa fa-circle-o"></i> Manage Client Details</a>
          </li>
        </ul>
      </li>
      

      <li class="treeview">
        <a href="#">
          <i class="fa fa-book"></i>
          <span>Logs Management</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active">
              <a href="#"><i class="fa fa-circle-o"></i> Manage Log Type Details</a>
          </li>
          <li class="active">
              <a href="#"><i class="fa fa-circle-o"></i> Search Logs</a>
          </li>
        
        </ul>
      </li>
     

    
    
    
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>